body {
  font-family: sans-serif;
}

.caixa {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

nav ul {
  position: absolute;
  top: 110px;
  right: 0px;
}

nav li {
  display: inline;
}

nav a {
  color: red;
  font-size: 16px;
}
